name: CI

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write
  actions: write

jobs:
  resolver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get update && sudo apt-get install -y python3 gh
      - run: pip install -r requirements.txt
      - env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python3 resolver.py
