name: Release

on:
  workflow_dispatch:
    inputs:
      channel:
        required: true
  workflow_call:
    inputs:
      channel:
        required: true
        type: string

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get update && sudo apt-get install -y python3 gh
      - run: pip install -r requirements.txt
      - env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHANNEL: ${{ inputs.channel }}
        run: python3 main.py
